.price {
    width: 50%;
    /* border: 2px solid #000000; */
    position: relative;
    display: block;
}

.pricingTag1 {
    margin-top: 0.5rem;
    font-size: 13px;
    position: absolute;
    left: 770px;
    top: 2320px;
}

.pricingTag2 {
    margin-top: 0.5rem;
    font-size: 13px;
    position: absolute;
    left: 1000px;
    top: 2322px;
    margin-right: 50px;
}

.pricingTag3 {
    margin-top: 0.5rem;
    font-size: 13px;
    position: absolute;
    left: 1252px;
    top: 2320px;
}